@charset "utf-8";

body{
  background-color: #cae4ff;
}

#gnav ul{
overflow: hidden;
}

#gnav li{
  float:left;
  width:18%;
  border-right: white 1px solid;
  list-style-type: none;
}

#gnav a{
  display:block;
  padding:10px 0;
  text-align: center;
  text-decoration: none;
  background: darkgreen;
  color: white;
}

#gnav a:hover{
  background: lightgreen;
  color: black;
}

#gnav li:first-child a{
  border-radius:5px 0 0 5px;
}

#gnav li:last-child a{
  border-radius:0 5px 5px 0;
}


h1{
position: relative;
background: #dfefff;
box-shadow: 0px 0px 0px 5px #dfefff;
border: dashed 2px white;
padding: 0.2em 0.5em;
color: #454545;
}

h1:after{
position: absolute;
content: '';
left: -7px;
top: -7px;
border-width: 0 0 15px 15px;
border-style: solid;
border-color: #fff #fff #a8d4ff;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
